<h1>Capturista</h1>


<h3>Coches</h3>
<%= link_to "Nuevo Coche", new_generic_car_path %>
<%= link_to "Editar Coche", generic_cars_path %>



<h3>Piezas</h3>



<%= link_to "Nueva Pieza", new_generic_spare_path %>

<%= link_to "Editar Pieza", generic_spares_path %>



<%= render "generic_cars/search_cars"  %>
