<% provide(:title,"Operador") %>


<h1>Operador </h1>

<p>Valuación<%= link_to "Nueva",  new_valuation_path,  class: "btn btn-primary" %> <%= link_to "Editar",  valuations_path,  class: "btn btn-primary" %></p>
<p>Almacén<%= link_to "Inventario",   "/stock",  class: "btn btn-primary" %><%= link_to "Pedidos",   "/orders",  class: "btn btn-primary" %><%= link_to "Envios",   "/shipping",  class: "btn btn-primary" %></p>
