<% provide(:title, "Inicio de Sesión") %>
<h1>Login</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Ingresar", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
  <table class="table table-hover">
    <thead>
        <tr>
          <th>Usuario</th>
          <th>Email</th>
          <th>Contraseña</th>
          <th>Permisos</th>
        </tr>
    </thead>
    <tbody>
        <tr>
          <td>Administrador</td>
          <td>admin@admin.com</td>
          <td>admin</td>
          <td>admin</td>
        </tr>
        <tr>
          <td>Operador</td>
          <td>operador@operador.com</td>
          <td>operador</td>
          <td>operador</td>
        </tr>
        <tr>
          <td>Capturista</td>
          <td>capturista@capturista.com</td>
          <td>capturista</td>
          <td>capturista</td>
        </tr>
        <tr>
          <td>Gerente</td>
          <td>gerente@gerente.com</td>
          <td>gerente</td>
          <td>gerente</td>
        </tr>
        <tr>
          <td>Ajustador</td>
          <td>ajustador@ajustador.com</td>
          <td>ajustador</td>
          <td>ajustador</td>
        </tr>
      </tbody>

  </table>
</div>
