<% provide(:title, "Inicio de Sesión") %>

  <div class="jumbotron">
    <%= form_for(:session, url: sessions_path, class: "form-signin form-inline") do |f| %>
      <h1 class="blutits">Ingreso al sistema</h1>
        <div class="form-group col-md-5">
              <%= f.label :email, class: "form-control basic-input sr-only" %>
              <%= f.text_field :email, class: "form-control basic-input", placeholder: "USUARIO", id: "userInput" %>
        </div>
        <div class="form-group col-md-5">
          <%= f.label :password, class: "form-control basic-input sr-only" %>
          <%= f.password_field :password, class: "form-control basic-input", placeholder: "CONTRASEÑA", id: "passwordInput" %>
        </div>
          <button type="submit" class="btn btn-primary col-md-2">Entrar</button>
          <% end %>
  </div>
  <table class="table table-hover">
    <thead>
        <tr>
          <th>Usuario</th>
          <th>Email</th>
          <th>Contraseña</th>
          <th>Permisos</th>
        </tr>
    </thead>
    <tbody>
        <tr>
          <td>Administrador</td>
          <td>admin@admin.com</td>
          <td>admin</td>
          <td>admin</td>
        </tr>
        <tr>
          <td>Operador</td>
          <td>operador@operador.com</td>
          <td>operador</td>
          <td>operador</td>
        </tr>
        <tr>
          <td>Capturista</td>
          <td>capturista@capturista.com</td>
          <td>capturista</td>
          <td>capturista</td>
        </tr>
        <tr>
          <td>Gerente</td>
          <td>gerente@gerente.com</td>
          <td>gerente</td>
          <td>gerente</td>
        </tr>
        <tr>
          <td>Ajustador</td>
          <td>ajustador@ajustador.com</td>
          <td>ajustador</td>
          <td>ajustador</td>
        </tr>
      </tbody>

  </table>
</div>
