<%= form_for(@mold_spare) do |f| %>
<%= render 'shared/error_messages', model: @mold_spare %>
  <div class="row">
    <div class="col-md-6 form-group">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="col-md-6 form-group">
      <%= f.label "Tipo" %><br>
      <%= f.text_field :mold_type, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 form-group">
      <%= f.label :comment %><br>
      <%= f.text_field :comment, class: 'form-control' %>
    </div>
    <div class="col-md-6 form-group">
      <%= f.label "Comentarios adicionales" %><br>
      <%= f.text_field :comment2, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 form-group"></div>

    <div class="col-md-4 form-group">
      <%= f.label :code %><br>
      <%= f.text_field :code, class: 'form-control' %>
    </div>
    <div class="col-md-4 form-group"></div>
  </div>

  <div class="divider"></div>
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Piezas Pertenecientes</h2>
    </div>
  </div>
  <div id="mold_components">
    <div id="mold_fields">
      <%= f.fields_for :mold_components do |mold_components| %>
        <%= render 'mold_component_fields', :f => mold_components %>
      <% end %>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <%= link_to_add_association 'Añadir Pieza', f, :mold_components, class: 'btn btn-default'%>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 text-center">
      <%= link_to 'Cancelar', mold_spares_path, class: "btn btn-default" %>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md4 text-center">
      <%= f.submit class:"btn btn-info" %>
    </div>
  </div>
<% end %>
