<%= form_for(@mold_spare) do |f| %>
  <% if @mold_spare.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mold_spare.errors.count, "error") %> prohibited this mold_spare from being saved:</h2>

      <ul>
      <% @mold_spare.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Nombre" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Comentario" %><br>
    <%= f.text_field :comment %>
  </div>
  <div class="field">
    <%= f.label "Comentarios adicionales" %><br>
    <%= f.text_field :comment2 %>
  </div>
  <div class="field">
    <%= f.label "Tipo" %><br>
    <%= f.text_field :mold_type %>
  </div>

  <br><br>
  <div class="field">
    <h3>Piezas pertenecientes</h3>
    <%= f.fields_for :mold_components do |mold_components| %>
      <%= render 'mold_component_fields', :f => mold_components %>
      <%= link_to_add_association 'Añadir Pieza', f, :mold_components %>
    <% end %>
  </div>


  <div class="actions">
    <%= f.submit "Guardar Pieza",    class: "button-primary" %>
  </div>
<% end %>
