<h1>Moldes para Piezas </h1>
<%= link_to 'Nueva Pieza Molde', new_mold_spare_path, class: "button button-primary u-pull-right" %>

<br>
<br>

<table class="u-full-width">
  <thead>
    <tr>
      <th>Nombre Pieza</th>
      <th>Tipo</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @mold_spares.each do |mold_spare| %>
      <tr>
        <td><%= mold_spare.name %></td>
        <td><%= mold_spare.mold_type %></td>
        <td><%= link_to 'Mostrar', mold_spare, class: "button " %></td>
        <td><%= link_to 'Editar', edit_mold_spare_path(mold_spare), class: "button " %></td>
        <td><%= link_to 'Borrar', mold_spare, method: :delete, data: { confirm: 'Estás seguro?' }, class: "button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
