<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @mold_spare.name %>
</p>
<p>
  <strong>Tipo:</strong>
  <%= @mold_spare.mold_type %>
</p>

<table class="u-full-width">
  <thead>
    <th> Piezas que contiene </th>
  </thead>
  <tbody>
    <% for mold_spare in @mold_spare.mold_components %>
    <tr>
      <td><%= mold_spare.name %></td>

    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Editar', edit_mold_spare_path(@mold_spare), class: "button button-primary" %>
<%= link_to 'Regresar', mold_spares_path, class:"button"%>
