<h1>Pieza Molde</h1><b>

<p>
  <b>Nombre: </b>
  <%= @mold_spare.name %>
<p>

<p>
  <strong>Tipo: </strong>
  <%= @mold_spare.mold_type %>
</p>

<p>
  <strong>Comentario: </strong>
  <%= @mold_spare.comment %>
</p>

<p>
  <strong>Comentario Adicional: </strong>
  <%= @mold_spare.comment2 %>
</p>

<table>
  <thead>
    <th> Nombre </th>
  </thead>
  <tbody>
    <% for mold_spare in @mold_spare.mold_components %>
    <tr>
      <td><%= mold_spare.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Editar', edit_mold_spare_path(@mold_spare), class: "button button-primary" %>
<%= link_to 'Regresar', mold_spares_path, class:"button"%>
