<tr class="">
	<% spares_to_hide = "#{@generic_family.id}#{Time.now.strftime('%d%h%m%s%L')}"  %>
	<td><input value="Spares" type="button" id="hidden_<%=spares_to_hide%>" class="hide_spares"/></td>
	<td><%= @generic_car.model_acronym.model %></td>
	<td class="hidden"><%= hidden_field_tag "stocks[][car_id]", @generic_car.id  %></td>
	<td><%= @generic_family.name %> </td>
	<td><%= @generic_family.code %></td>
	<td><%= grouped_collection_select nil, "stocks[][stock_family_supplier]", SupplierType.all, :suppliers, :name, :id, :name, :include_blank => true %></td>	
	<td class="hidden"><%= hidden_field_tag "stocks[][id]", @generic_family.id %>sup</td>
	<td><%= text_field_tag "stocks[][supplier_code]" %></td>
	<td><%= text_field_tag "stocks[][color]", nil %></td>
	<td><%= text_field_tag "stocks[][quantity]", nil %></td>
	<td> <button class="btn btn-danger" id="eliminar_<%=spares_to_hide%>" eliminar="<%=spares_to_hide%>" >Eliminar</button></td>
	
	
</tr>
<!--<div class="esconde">-->

<% @generic_family.spare_likelihoods.each do |spare_likelihood| %>
	<tr class="<%=spares_to_hide%>" >
	<!--<tr class="hidden_<%=@generic_family.id%>">-->
	
		<td><%= check_box_tag "stocks[]spares[][id]", spare_likelihood.generic_spare.id, true %></td>
		<td></td>
		<td><%= spare_likelihood.generic_spare.name %></td>
		<td><%= spare_likelihood.generic_spare.code %></td>
		<td></td>
		<td><%= text_field_tag "stocks[]spares[][supplier_code]" %></td>
		<td><%= text_field_tag "stocks[]spares[][color]" %></td>
		
	</tr>

<% end %>
  <script type="text/javascript">

  $(document).ready(function(){

    console.log(" WORKING!! ");

    $("#hidden_<%=spares_to_hide%>").on("click",function() {

      console.log(""+$(this).parent().parent().next().attr("class"));
      $("tr."+$(this).parent().parent().next().attr("class")).toggle();
      
    });

    $("#eliminar_<%=spares_to_hide%>").on("click",function() {

      console.log(""+$(this).parent().parent().next().attr("class"));
      //$("tr."+$(this).attr("eliminar:eq(0)")).prev().remove();
      $("tr."+$(this).attr("eliminar")).remove();
      $(this).parent().parent().remove();
     // $("tr.primary_"+$(this).attr("eliminar")).remove();
      
    });


  });
    
  </script>
<!--</div>-->

