<tr>
	<td><input value="Spares" type="button" id="hidden" class="hide_spares"/></td>
	<td><%= @generic_car.model_acronym.model %></td>
	<td class="hidden"><%= hidden_field_tag "stocks[][car_id]", @generic_car.id  %></td>
	<td><%= @generic_family.name %> </td>
	<td><%= @generic_family.code %></td>
	<td><%= grouped_collection_select nil, "stocks[][stock_family_supplier]", SupplierType.all, :suppliers, :name, :id, :name, :include_blank => true %></td>	
	<td class="hidden"><%= hidden_field_tag "stocks[][id]", @generic_family.id %>sup</td>
	<td><%= text_field_tag "stocks[][supplier_code]" %></td>
	<td><%= text_field_tag "stocks[][price]", nil %></td>
	<td><%= text_field_tag "stocks[][quantity]", nil %></td>
</tr>
<% @generic_family.spare_likelihoods.each do |spare_likelihood| %>
	<tr class="">
		<td><%= check_box_tag "stocks[]spares[][id]", spare_likelihood.generic_spare.id, true %></td>
		<td></td>
		<td><%= spare_likelihood.generic_spare.name %></td>
		<td><%= spare_likelihood.generic_spare.code %></td>
		<td></td>
		<td><%= text_field_tag "stocks[]spares[][supplier_code]" %></td>
		<td></td>
		<td></td>
	</tr>
<% end %>
