<h1>Todas las piezas</h1>

	<% if !@all_stock.blank? %>
		<table id="allStockTable" class="display" >
		  <thead>
		    <tr>
		      <th> Nombre </th>
				<th> Modelo Coche </th>		
				<th> Generación Coche </th>		
				<th> Año Coche </th>		            
		      <th> Proveedor </th>
		      <th></th>
		      <th></th>

		    </tr>
		  </thead>
		  <tbody>
			<% for stock in @all_stock %>
			    <tr>

			      <td><%= stock.generic_family.name %></td>
			      <td><%= stock.generic_family.family_likelihoods.first.generic_car.model_acronym.model %></td>
			      <td><%= stock.generic_family.family_likelihoods.first.generic_car.number_of_generation %></td>
			      <td><%= stock.generic_family.family_likelihoods.first.generic_car.years %></td>

			      <td>
					<% if !stock.supplier.blank? %>
			     		<%= stock.supplier.name %>
			     	<% end %>
			    	 </td>
			    	 <td><%= link_to "ver", stock_family_path(stock) %></td>
			    <td><%= link_to "Historial", history_stock_family_path(stock) %></td>


			    </tr>
			<% end %>
			</tbody>
		</table>
	<% else %>
	<h2>No hay stock</h2>
	<% end %>

