	<h2>Busca el modelo</h2>
	<%= form_tag search_for_generic_car_path,  class: "form-inline", remote: true do  %>
		<%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %> 

		<%= text_field_tag :model , nil, class: "form-control"  %>
		<%= submit_tag 'Buscar', class: "btn btn-primary" %>
	<% end %>

	<div id="genericCarsFound"></div>

	<h2 id="genericCarRelatedFamiliesTitle" >Familias relacionadas:</h2>
	<div id="genericCarRelatedFamilies"></div>
	 <%= form_tag({:controller => :stock_families, :action => :create}, {:multipart => true}) do %>

	 <table id="genericCarRelatedFamiliesTable" class="table table-striped">
	 	<thead>
	        <tr>
	          <th style="display:none;"></th>
	          <th></th>
	          <th> Modelo</th>
	          <th> Nombre Pieza</th>
	          <th> Código</th>
			  <th> Proveedor</th>
	          <th> Precio</th>
	          <th> Cantidad</th>
	        </tr>
	      </thead>
	      <tbody id="orderStockFamiliesToAdd">

	      </tbody>
	   </table>

  		<%= submit_tag "Recibir piezas", class: "btn btn-primary pull-right" %>
	<% end %>

	 
