
<% if @generic_car.errors.any? %>
<div class="alert alert-danger">
  <ul>
    <% @generic_car.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= form_for @generic_car do |f|%>
<h1>Carro Generico </h1>
<div class="row">
  <div class="col-lg-2">
    <h3>Marca</h3>
    <%= f.select :brand_id, Brand.all.collect{|p| [ p.name, p.id ] }, {include_blank: '---'} %>
  </div>
  <div class="col-lg-2">
    <h3>Tipo</h3>
    <%= f.select(:type_of_car, %w[Sedan Hatchback Pick\ Up SUV Croosover Chasis], {class: "form-control"}) %>
  </div>
  <div class="col-lg-2">
    <h3># Puertas</h3>
    <%= f.select(:doors, %w[3 4 5 6]) %>
  </div>
</div>

<div class="row">
  <div class="col-lg-2">
    <h3>Modelo</h3>
    <%= f.text_field :model, class: "form-control" %>
  </div>
  <div class="col-lg-2">
    <h3>Año</h3>
    <%= f.text_field :year, class: "form-control" %>
  </div>
  <div class="col-lg-4">
    <h3>Generación</h3>
    <div class="col-lg-4">
      <%= f.text_field :first_generation_year, class: "form-control " %>
    </div>
    <div class="col-lg-1 text-center">
      <span class="bold">-</span>
    </div>
    <div class="col-lg-4">
      <%= f.text_field :last_generation_year, class: "form-control"%>
    </div>


  </div>
  <div class="col-lg-4">
    <h3>La generación continua?</h3>

    <%=f.check_box :gen_continues %>

  </div>
  <div class="col-lg-2">
    <h3>Número de generación</h3>
    <%= f.select(:number_of_generation, %w[1er 2da 3ra 4ta 5ta 6ta], {class: "input-group"}) %>

  </div>
  <div class="col-lg-6">



    <%= f.fields_for :generic_images do |ff| %>
      <%= image_tag ff.object.photo.url(:thumb) %>
      <%= ff.check_box :delete_image %>Delete Image<br/>
      <%= ff.file_field :photo %>
    <% end %>




  </div>
</div>
<div class="row">
  <!-- <div class="col-log-4"></div> -->
  <div class="col-md-offset-4">
    <%= f.submit "Guardar", class: "btn btn-primary col-md-2" %>
  </div>
  <!-- <div class="col-log-4"></div> -->
</div>
<% end %>
