
<%= form_for @generic_car, :html => { :multipart => true } do |f|%>
  <%= render 'shared/error_messages', model: @generic_car %>

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3 col-xs-6 form-group text-center">
      <%= f.label :brand_id %><br>
      <%= f.select :brand_id, Brand.all.collect{|p| [ p.name, p.id ] }, {include_blank: '---'} %>
    </div>
    <div class="col-md-3 col-xs-6 form-group text-center">
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row">
    <div class="col-md-3 col-xs-6 form-group text-center">
      <%= f.label :number_of_generation %><br>
      <%= f.select(:number_of_generation, %w[1er 2da 3ra 4ta 5ta 6ta], {class: "input-group"}) %>
    </div>
    <div class="col-md-3"></div>
  </div>

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3 col-xs-6 form-group text-center">
      <%= f.label :model %>
      <%= f.text_field :model, class: "form-control text-center" %>
      <p class="text-muted note ">Ejemplo: Corolla</p>
    </div>
    <div class="col-md-3 col-xs-6 form-group text-center">
      <p class="text-muted note">Ejemplo: 2001</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3 col-xs-6 form-group text-center">
      <%= f.label :gen_continues %><br>
      <%= f.check_box :gen_continues %>
    </div>
    <div class="col-md-3 col-xs-6 form-group text-center">
      <%= f.label :years , class:"title-change"%><br>
      <%= f.text_field :years, class: "form-control years" %>
      <p class="text-muted note continua"></p>
    </div>
    <div class="col-md-3"></div>
  </div>


  <div class="divider"></div>
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Imagenes</h2>
    </div>
  </div>
    <div id='generic_images'>
      <div id="image_fields">
        <%= file_field_tag :photos, multiple: true %>
      </div>
    </div>

  <div class="row">
    <div class="col-md-4 text-center">
      <%= link_to 'Cancelar', generic_cars_path, class: "btn btn-default" %>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md4 text-center">
      <%= f.submit class:"btn btn-info" %>
    </div>
  </div>
<% end %>
