
    <td>
      <%= f.select(:brand, %w[Acura Alfa\ Romeo Bentley BMW Cadillac Chevrolet Chrysler Dodge Ferrari Fiat Ford GMC Honda Hyundai Infinity Isuzu Jaguar Jeep Kia Lamborghini Land\ Rover Lexus Lincoln Maserati Mastretta Mazda Mercedes\ Benz Mini Mitsubishi Nissan Peugeot Porsche Renault Rolls\ Royce Saab Seat Smart Subaru Suzuki Tata Tesla Toyota Volkswagen Volvo]) %>
    </td>

    <td>
      <%= f.text_field :model %>
    </td>


    <td>
      <%= f.text_field :type_of_car %>

    </td>

    <td>
      <%= f.text_field :year %>
    </td>

    <td>
      <%= f.text_field :generation %>
    </td>

    <td>

      <%= f.select(:doors, %w[2 3 4 5 6 7]) %>

    </td>
