<h2>Familias relacionadas</h2>

<table class="table table-striped">
  <thead>
    <th></th>
    <th>Nombre</th>
    <th>Codigo</th>
    <th>Años</th>
    <th>Ver</th>
    <th>Variante</th>
    <th>Editar</th>
  </thead>
  <tbody>

  <% @generic_car.generic_families.each do |generic_family| %>
  <% spares_to_hide = "#{generic_family.id}#{Time.now.strftime('%d%h%m%s%L')}"  %>
      <tr>
        <td><input value="Spares" type="button" id="hidden_<%=spares_to_hide%>" class="hide_spares"/></td>
        <td><%= generic_family.name %></td>
        <td><%= generic_family.code %></td>
        <td><%= generic_family.years %></td>
        <td><%= link_to "Ver", generic_family_path(generic_family, @generic_car), class: 'btn btn-info' %></td>
        <td>
          <% if generic_family.original.blank? %>
            <%= link_to "Crear Variante", variant_generic_family_path(generic_family, @generic_car), class: 'btn btn-info' %>
          <% else %>
            <%= link_to "Ver Original", generic_family_path(generic_family.original, @generic_car), class: 'btn btn-info'%>
          <% end %>
        </td>
        <td><%= link_to "Editar Familia", edit_generic_family_path(generic_family, @generic_car), class: 'btn btn-info' %></td>
        <td><%= link_to "Borrar Familia", delete_generic_family_path(generic_family), class: 'btn btn-info' %></td>

      </tr>

          <% generic_family.generic_spares.each do |spare| %>
      <tr style="display:none" class="<%=spares_to_hide%>" >
        <td></td>
        <td><%= spare.name %></td>
        <td><%= spare.code %></td>
      </tr>
    <% end %>


 <script type="text/javascript">

   $("#hidden_<%=spares_to_hide%>").on("click",function() {

      console.log(""+$(this).parent().parent().next().attr("class"));
      $("tr."+$(this).parent().parent().next().attr("class")).toggle();

    });

</script>
  <% end %>
</tbody>
</table>
