<h2>Familias relacionadas</h2>

<% cont = 0 %>
<%= f.fields_for :family_likelihoods do |family_likelihood| %>
  <%= family_likelihood.fields_for :generic_family do |family| %>
    <input value="Spares" type="button" class="hidden<%= cont %>"/>
    <%= family.text_field :name , disabled: true%>
    <%= family.text_field :code , disabled: true%>
    <%= check_box_tag 'active', 'yes', true %>
    <%= family_likelihood.text_field :years, placeholder: car.formatted_year %>
    <%= link_to '+', '#', id:cont, name: 'helper'%>
    <%= family.hidden_field :name ,{id:"nameHelper#{cont}" , name:"helper#{cont}"} %><%= family.hidden_field :code ,{id:"codeHelper#{cont}" , name:"helper#{cont}"} %>
    <div id="hidden<%= cont %>" class="hidden">
      <%= family.fields_for :spare_likelihoods do |spare_likelihood| %>
        <%= spare_likelihood.fields_for :generic_spare do |spare| %>
          <%= spare.text_field :name %><%= spare.text_field :code %> 
        <% end %>
      <% end %>
    </div>
    <% cont+=1 %>
  <% end %>
  <br>
<% end %>
