<h2>Familias relacionadas</h2>

<table class="table table-striped">
  <thead>
    <th>Nombre</th>
    <th>Codigo</th>
    <th>Añadir Familia</th>
  </thead>
  <tbody>

  <% @generic_car.generic_families.each do |generic_family| %>
      <tr>
        <td><%= generic_family.name %></td>
        <td><%= generic_family.code %></td>
        <td><%= link_to "+", variant_generic_family_path(generic_family) %></td>
      </tr>
<% generic_family.spare_likelihoods.each do |spare_likelihood| %>
  <tr>
  
    <td><%= spare_likelihood.generic_spare.name %></td>
    <td><%= spare_likelihood.generic_spare.code %></td>
    
  </tr>

<% end %>  
  <% end %>
</tbody>
</table>
