  <h2>Familias relacionadas</h2>

 <table id="familyTable" class="table table-striped">
 	<thead>
        <tr>
          <th>Nombre</th>
          <th>Código</th>
          <th>Habilitado</th>
          <th>Años</th>
          <th></th>
          <th>
          </th>
        </tr>
      </thead>
      <tbody>
        <% cont = 0 %>
        <%= f.fields_for :car_type do |type| %>
          <%= type.fields_for :type_likelihoods do |type_likelihood| %>
          <tr>
            <%= type_likelihood.fields_for :generic_family do |family| %>
              <td><%= family.text_field :name , disabled: true%></td>
              <td><%= family.text_field :code , disabled: true%></td>
              <td><%= check_box_tag 'active', 'yes', true %></td>
              <td><%= type_likelihood.text_field :years, placeholder: car.formatted_year %></td>
              <td> <%= link_to '+', '#', id:cont, name: 'helper'%></td>
              <td><%= family.hidden_field :name ,{id:"nameHelper#{cont}" , name:"helper#{cont}"} %><%= family.hidden_field :code ,{id:"codeHelper#{cont}" , name:"helper#{cont}"} %></td>

            </tr>
            <% cont+=1 %>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
</table>
