<h1>Carro Generico </h1>

<table class="table">
  <thead>
    <th>
      Marca
    </th>
    <th>
      Tipo
    </th>
    <th>
      Año
    </th>
    <th>
      Generación
    </th>
    <th>
      Modelo
    </th>
  </thead>
  <tbody>
    <td>
      <%= f.select(:brand, %w[WV Chevrolet Toyota]) %>
    </td>

    <td>
      <%= f.text_field :type_of_car %>
    </td>

    <td>
      <%= f.text_field :year %>
    </td>

    <td>
      <%= f.text_field :generation %>
    </td>

    <td>
      <%= f.text_field :model %>
    </td>
  </tbody>
</table>
