<% if @generic_car.errors.any? %>
<div id="error_explanation">
  <div class="alert alert-error">
  <ul>
    <% @generic_car.errors.full_messages.each do |msg| %>
    <li>* <%= msg %></li>
    <% end %>
  </ul>
  </div>
</div>
<% end %>


<%= form_for @generic_car do |f| %>
  <h1>Carro Genérico </h1>
  <div class="row">
    <div class="one-third column">
      <h3>Marca</h3>
      <%= f.select(:brand, %w[Acura Alfa\ Romeo Audi Bentley BMW Cadillac Chevrolet Chrysler Dodge Ferrari Fiat Ford GMC Honda Hyundai Infinity Isuzu Jaguar Jeep Kia Lamborghini Land\ Rover Lexus Lincoln Maserati Mastretta Mazda Mercedes\ Benz Mini Mitsubishi Nissan Peugeot Porsche Renault Rolls\ Royce Saab Seat Smart Subaru Suzuki Toyota Volkswagen Volvo], {class: "input-group"}) %>
    </div>
    <div class="one-third column">
      <h3>Tipo</h3>
      <%= f.select(:type_of_car, %w[Sedan Hatchback Pick\ Up SUV Croosover Chasis], {class: "form-control"}) %>
    </div>
    <div class="one-third column">
      <h3>Número de Puertas</h3>
      <%= f.select(:doors, %w[3 4 5 6]) %>
    </div>
  </div>

  <div class="row">
      <div class="one-third column">
        <h3>Modelo</h3>
        <%= f.text_field :model, class: "form-control" %>
      </div>
      <div class="one-third column">
        <h3>Año</h3>
        <%= f.text_field :year, class: "form-control" %>
      </div>
      <div class="one-third column">
        <h3>Generación</h3>
        <%= f.text_field :first_generation_year, class: "form-control", :placeholder => "Año Inicial" %>
        <div class="col-lg-1 text-center">
          <span class="bold">-</span>
        </div>
        <%= f.text_field :last_generation_year, class: "form-control ",:placeholder => "Año Actual"%>
        </div>
  </div>

    <h2>Fotos </h2>

    <% if @generic_car.generic_images.exists? %>
    <%= image_tag @blog.image.url(:thumb) %><br/>
    <% end %>



      <%= f.fields_for :generic_images do |ff| %>
      <%= ff.file_field :photo %>
      <% end %>



    <div class="row">
        <%= f.submit "Guardar", class: "button button-primary" %>
    </div>
  </div>

<% end %>
