<%= form_for @generic_car do |f|%>
  <h1>Carro Generico </h1>

  <table class="table">
    <thead>
      <th> Marca </th>
      <th> Modelo </th>
      <th> Tipo </th>
      <th> A침o </th>
      <th> Generaci칩n </th>
      <th> # Puertas </th>
    </thead>
    <tbody>
      <%= render "generic_car_fields", f: f %>
    </tbody>
  </table>

  <td>
  <%= f.file_field :photo1 %>
  </td>
  <td>
  <%= f.file_field :photo2 %>
  </td>
  <td>
  <%= f.file_field :photo3 %>
  </td>
  <td>
  <%= f.file_field :photo4 %>
  </td>

  <!-- <h1>Piezas Genericas</h1>
  <table class="table">
    <thead>
      <th> Relaci칩n </th>
      <th> Marca </th>
      <th> Nombre </th>
      <th> Tipo </th>
      <th> Region </th>
      <th> Descripci칩n </th>
    </thead>
    <tbody>
      <%= f.fields_for :car_spare_alloys do |ff| %>
        <tr>
          <td>
            <%= ff.select(:relation,[ ["---",""], ["Mecanico","Mecanico"], ["Interior","Interior"], ["Exterior","Exterior"]]) %>
          </td>
            <%= ff.fields_for :generic_spare do |fff| %>
              <%= render "generic_spares/generic_spare_fields", fff: fff %>
            <% end %>
        </tr>
      <% end %>
    </tbody>
  </table> -->

  <%= f.submit "Guardar" %>
<% end %>
