<%= form_for @generic_car, url: {action: :relate_generic_family} do |f| %>
  <h3>Más familias</h3>
  <table class="table table-striped">
    <thead>
      <tr>
      <th>Nombre</th>
      <th>Codigo</th>
      <th></th>
      </tr>
    </thead>
    <tbody>
      <%=  f.collection_check_boxes :generic_family_ids, @other_families, :id, :name_with_code do |b| %>
       <tr>
        <td><%= b.text.split(',').first %></td>
        <td><%= b.text.split(',').last %></td>
        <td><%=  b.check_box %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= f.submit "Añadir Familias" %>
<% end %>

