  <h3>Más familias</h3>

 <table class="table table-striped">
 	<thead>
        <tr>
          <th>Nombre</th>
          <th>Código</th>
          <th>Molde</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% @other_families.each do |family| %>
        <tr>
          <td><%= family.name %></td>
          <td><%= family.code %></td>
          <td>
            <% if family.mold %>
            <%= :si %>
            <% else %>
            <%= :no %>
            <% end %>
          </td>

          <td><%= link_to :add, relate_generic_family_generic_car_path(generic_family:family.id, generic_car: @generic_car.id), class: "btn btn-primary", confirm: 'Tus cambios podran perderse?'  %>  </td> </tr>
      <% end %>
      </tbody>
</table>
