<%= link_to "Nuevo Coche Generico", new_generic_car_path, class: "button button-primary" %>

<table id="genericCars">
  <thead>
    <th> Marca </th>
    <th> Modelo </th>
    <th> Tipo </th>
    <th> Año </th>
    <th> Generación </th>
    <th> # Puertas </th>
    <th> Codigo</th>
    <th></th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
<% for car in @generic_cars %>
    <tr>
      <td><%= car.brand %></td>
      <td><%= car.model %></td>
      <td><%= car.type_of_car %></td>
      <td><%= car.year %></td>
      <td><%= car.first_generation_year %> -
        <% if !car.gen_continues %>
          <%= car.last_generation_year %>
        <% else %>
          Año Actual
        <% end %>
       </td>
      <td><%= car.doors %></td>
      <td><%= car.code %></td>
      <td><%= link_to "Ver", car, class: "button" %></td>
      <td><%= link_to 'Editar', edit_generic_car_path(car), class: "button" %></td>
      <td><%= link_to "Borrar", car, :confirm => '¿Seguro Que Deseas Borrarlo?', :method => :delete , class: "button"%></td>
    </tr>
  <% end %>
</tbody>
</table>
