<%= link_to "Nuevo Coche Generico", new_generic_car_path, class: "btn btn-primary" %>
<%= link_to "Generaciones que Continuan", update_generation_generic_cars_path, class: "btn btn-primary" %>
<%= link_to "Editar Iniciales", model_acronyms_path, class: "btn btn-primary" %>



<table id="genericCars">
  <thead>
    <tr>
      <th> Marca </th>
      <th> Modelo </th>
      <th> Generación </th>
      <th> Codigo</th>
      <th>
        Tipo
      </th>
      <th>Familias</th>
      <th>Ver</th>
      <th>Editar</th>
      <th>Borrar</th>
    </tr>
  </thead>
  <tbody>
<% for car in @generic_cars %>
    <tr>
      <td><%= car.model_acronym.brand.name %></td>
      <td><%= car.model_acronym.model %></td>
      <td><%= car.first_generation_year %> -
        <% if !car.gen_continues %>
          <%= car.last_generation_year %>
        <% else %>
          <p>Año Actual</p>
        <% end %>
       </td>
      <td><%= car.code %></td>
      <td>
        <%= car.car_type.full_name %>
      </td>
      <td><%= link_to "Familias", assignation_generic_car_path(car), class: "btn btn-primary" %></td>
      <td><%= link_to "Ver", car, class: "btn btn-primary" %></td>
      <td><%= link_to 'Editar', edit_generic_car_path(car), class: "btn btn-primary" %></td>
      <td><%= link_to "Borrar", car, :confirm => '¿Seguro Que Deseas Borrarlo?', :method => :delete , class: "btn btn-primary"%></td>
    </tr>
  <% end %>
</tbody>
</table>
