<p><%= link_to "Nuevo Coche Generico", new_generic_car_path %></p>

<table class="table">
  <thead>
    <th> Marca </th>
    <th> Modelo </th>
    <th> Tipo </th>
    <th> Año </th>
    <th> Generación </th>
    <th> # Puertas </th>
  </thead>
<% for car in @generic_cars %>
    <tr>
      <td><%= car.brand %></td>
      <td><%= car.model %></td>
      <td><%= car.type_of_car %></td>
      <td><%= car.year %></td>
      <td><%= car.generation %></td>
      <td><%= car.doors %></td>
      <td><%= link_to "Ver", car %></td>
      <td><%= link_to 'Editar', edit_generic_car_path(car) %></td>
      <td><%= link_to "Borrar", car, :confirm => '¿Seguro Que Deseas Borrarlo?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
