<h1>Coche Generico</h1>
<table class="table">
  <thead>
    <th> Marca </th>
    <th> Modelo </th>
    <th> Tipo </th>
    <th> Generación </th>
    <th> Tipos </th>
    <th> Imagenes </th>
    <th>   </th>
  </thead>
  <tr>
    <td><%= @generic_car.brand.name %></td>
    <td><%= @generic_car.model %></td>
    <td> </td>
    <td>
      <%= @generic_car.first_generation_year %> -
      <%= @generic_car.last_generation_year %>
    </td>
    <td> <ul><% @generic_car.car_types.each  do |ty|%>
        <li><%= ty.full_name%></li>
        <% end %></ul>
    </td>

    <td>
      <% for image in @generic_car.generic_car_images %>
      <%= image_tag image.image.url(:thumb) %>
      <%end %>
  </td>
    <td><%= link_to "Borrar", @generic_car, :confirm => '¿Seguro Que Deseas Borrarlo?', :method => :delete, class: "button" %></td>
  </tr>
</table>

<%= link_to "Regresar", generic_cars_path, class: "button" %>
