
<div>
<h3>Coche del Asegurado</h3>
<div class="form-group">
  <%= builder.label :color, "Color del Coche" %>
  <%= builder.text_field :color %>
</div>

<div class="form-group">
  <%= builder.label :door_number, "Numero de Puertas" %>
  <%= builder.number_field :door_number %>
</div>

<div class="form-group">
  <%= builder.label :inventory_description, "Descripción de Inventario" %>
  <%= builder.text_field :inventory_description %>
</div>
<div class="form-group">
  <%= builder.label :economic_number, "Numero de Taxi" %>
  <%= builder.text_field :economic_number %>
</div>

<div class="form-group">
  <%= builder.label :special_equipment, "Equipo Especial" %>
  <%= builder.text_field :special_equipment %>
</div>
</div>
