<div>
<h3>Asegurado</h3>
<div class="form-group">
  <%= builder.label :name, "Nombre del Asegurado" %>
  <%= builder.text_field :name %>
</div>

<div class="form-group">
  <%= builder.label :telephone, "Telefono del Asegurado" %>
  <%= builder.telephone_field :telephone %>
</div>

<div class="form-group">
  <%= builder.label :email, "Email del Asegurado" %>
  <%= builder.email_field :email %>
</div>
</div>
