<h1>Listing subsections</h1>

<table class="table">
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Section</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @subsections.each do |subsection| %>
      <tr>
        <td><%= subsection.code %></td>
        <td><%= subsection.name %></td>
        <td><%= subsection.section_id %></td>
        <td><%= link_to 'Ver', subsection,class:"btn btn-info" %></td>
        <td><%= link_to 'Editar', edit_subsection_path(subsection),class:"btn btn-warning" %></td>
        <td><%= link_to 'Eliminar', subsection, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subsection', new_section_subsection_path %>
