
<p>
  <strong>Codigo:</strong>
  <%= @subsection.code %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @subsection.name %>
</p>

<p>
  <strong>Sección:</strong>
  <%= @subsection.code %>
</p>

<%= link_to 'Imprimir Etiqueta', print_label_warehouse_section_subsection_path(@subsection.section.warehouse,@subsection.section, @subsection) %>


<%= link_to 'Edit', edit_subsection_path(@subsection) %> |
<%= link_to 'Back', subsections_path %>
