<h1>Listing families</h1>

<table>
  <thead>
    <tr>
      <th>Generic spare</th>
      <th>Child</th>
      <th>Create</th>
      <th>Destroy</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @families.each do |family| %>
      <tr>
        <td><%= family.generic_spare_id %></td>
        <td><%= family.child_id %></td>
        <td><%= family.create %></td>
        <td><%= family.destroy %></td>
        <td><%= link_to 'Show', family %></td>
        <td><%= link_to 'Edit', edit_family_path(family) %></td>
        <td><%= link_to 'Destroy', family, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Family', new_family_path %>
