<h1>Listing families</h1>

<table>
  <thead>
    <tr>
      <th>Generic spare</th>
      <th>Child</th>
      <th>Create</th>
      <th>Destroy</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @families.each do |family| %>
      <tr>
        <td><%= family.name %></td>
        <td><%= link_to 'Show', family %></td>
        <td><%= link_to 'Edit', edit_family_path(family) %></td>
        <td><%= link_to 'Destroy', family, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% for mold in @molds  %>
<%= link_to mold.name, new_family_path(:mold_spare_id => mold.id) %>
<% end %>


<%= link_to 'New Family', new_family_path %>
