<p id="notice"><%= notice %></p>

<p>
  <strong>Generic spare:</strong>
  <%= @family.generic_spare_id %>
</p>

<p>
  <strong>Child:</strong>
  <%= @family.child_id %>
</p>

<p>
  <strong>Create:</strong>
  <%= @family.create %>
</p>

<p>
  <strong>Destroy:</strong>
  <%= @family.destroy %>
</p>

<%= link_to 'Edit', edit_family_path(@family) %> |
<%= link_to 'Back', families_path %>
