 <%= form_tag add_to_inventory_path do %>

 <table id="genericCarRelatedFamiliesTable" class="table table-striped">
 	<thead>
        <tr>
          <th> Nombre</th>
          <th> </th>
          <th> Código</th>
          <th> Tipo Proveedor</th>
          <th> Proveedor</th>
          <th> Precio</th>
          <th> Cantidad</th>
        </tr>
      </thead>
      <tbody>
      <% for generic_family in generic_families_found do%>
        <tr>
          <td><%= generic_family.name %></td>
          <td><%= check_box_tag 'Completa' %></td>
          <td><%= generic_family.code %></td>
          <td>Tipos de proveedor</td>
          <td>Proveedor</td>
          <td>$<%= number_field_tag 'Precio', nil, min: 0 %></td>
          <td><%= number_field_tag 'Cantidad', nil, min: 0 %></td>
        </tr>

      <% end %>
      </tbody>

</table>


  <%= submit_tag "Recibir piezas", class: "btn btn-primary pull-right" %>
<% end %>
