
 <table id="genericCarRelatedFamiliesTable" class="table table-striped">
 	<thead>
        <tr>
          <th> Nombre</th>
          <th> Código</th>
          <th> Añadir</th>
        </tr>
      </thead>
      <tbody>
      <% for generic_family in generic_families_found do %>

        <tr id="generic_family_complete">
          <td><%= generic_family.name %></td>
          <td><%= generic_family.generic_cars.first.model_acronym.model %></td>
          <td><%= generic_family.code %></td>
          <td><input value='Añadir a Orden' type="button" family-id="<%= generic_family.id %>" car-id="<%= @generic_car.id %>" class="add_to_order">
          </td>

        </tr>
        
      <% end %>
      </tbody>

</table>

<script type="text/javascript">
  $('.add_to_order').click(function () {
    $.ajax({
      url: "/inventories/"+$(this).attr("family-id")+'/'+$(this).attr("car-id")+"/add_family_with_spares_to_order/",
      success:function()
      {
          console.log("succeSSS");
         $("div#recibir_p").fadeIn();
      }
    })

  });
</script>



