 <%= form_tag({:controller => :stock_families, :action => :create}, {:multipart => true}) do %>

 <table id="genericCarRelatedFamiliesTable" class="table table-striped">
 	<thead>
        <tr>
          <th> </th>
          <th> Nombre</th>
          <th> </th>
          <th> Código</th>
<!--           <th> Tipo Proveedor</th>
 -->      <th> Proveedor</th>
          <th> Precio</th>
          <th> Cantidad</th>
          <th> Imagen </th>
        </tr>
      </thead>
      <tbody>
      <% cont = 0 %>
      <% for generic_family in generic_families_found do %>

        <tr id="generic_family_complete">
          <td> <%= check_box_tag "order[generic_family_#{cont}][][id]", generic_family.id %></td>
          <td><%= generic_family.name %></td>
          <td><input value='Completa' type="button" id="<%= generic_family.id %>_show" class="show_childs"</td>
          <td><%= generic_family.code %></td>
          <td><%= grouped_collection_select "order[generic_family_#{cont}][][supplier_id]", nil,  SupplierType.all, :suppliers, :name, :id, :name, :include_blank => true %></td>
          <td><%= number_field_tag "order[generic_family_#{cont}][][entrance_price]", nil, min: 0, placeholder: '$' %></td>
          <td><%= number_field_tag "order[generic_family_#{cont}][][quantity]", nil, min: 0 %></td>
          <td>   <%= file_field "order[generic_family_#{cont}][][image]", nil %></td>

        </tr>
        
        <% cont += 1 %>
      <% end %>
      </tbody>

</table>

  <%= submit_tag "Recibir piezas", class: "btn btn-primary pull-right" %>
<% end %>

<script>





    //$('.generic_family_spare_childs').hide();
</script>
