
 <table id="genericCarRelatedFamiliesTable" class="table table-striped">
 	<thead>
        <tr>
          <th> Nombre</th>
          <th> Código</th>
          <th> Añadir</th>
        </tr>
      </thead>
      <tbody>
      <% for generic_family in generic_families_found do %>

        <tr id="generic_family_complete">
          <td><%= generic_family.name %></td>
          <td><%= generic_family.generic_cars.first.model_acronym.model %></td>
          <td><%= generic_family.code %></td>
          <td><input value='Añadir a Orden' type="button" family-code="<%= generic_family.code %>" family-name="<%= generic_family.name %>" family-id="<%= generic_family.id %>" family-model="<%= generic_family.generic_cars.first.model_acronym.model %>" class="show_childs"></td>

        </tr>
        
      <% end %>
      </tbody>

</table>


<script>
// $(function() {

$('.show_childs').click(function () {
  $('#orderStockFamiliesToAdd').append('<tr><td style="display:none;"><input value="'+$(this).attr('family-id')+'"></td><td>'+$(this).attr('family-model')+'</td><td>'+$(this).attr('family-name')+'</td><td>'+$(this).attr('family-code')+'</td><td><%=j grouped_collection_select "order[generic_family][][supplier_id]", nil,  SupplierType.all,:suppliers, :name, :id, :name, :include_blank => true %></td><td><input></td><td><input></td></tr>');

});
// });




    //$('.generic_family_spare_childs').hide();
</script>
