<h1>Listing sections</h1>

<table class="table">
  <thead>
    <tr>
      <th>Code</th>
      <th>Warehouse</th>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sections.each do |section| %>
      <tr>
        <td><%= section.code %></td>
        <td><%= section.warehouse_id %></td>
        <td><%= section.name %></td>
        <td><%= link_to 'Mostrar', section,class:"btn btn-info" %></td>
        <td><%= link_to 'Editar', edit_section_path(section),class:"btn btn-warning" %></td>
        <td><%= link_to 'Eliminar', section, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Section', new_warehouse_section_path,class:"btn btn-success" %>
