
  <h2>Busca el modelo</h2>
  <%= form_tag search_by_model_generic_cars_path,  class: "form-inline", remote: true do  %>
    <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %> 

    <%= text_field_tag :model , nil, class: "form-control"  %>
    <%= submit_tag 'Buscar', class: "btn btn-primary" %>
  <% end %>

  <div id="genericCarsFound"></div>

  <h2 id="genericCarRelatedFamiliesTitle" >Familias relacionadas:</h2>
  <div id="genericCarRelatedFamilies"></div>
  <%= form_for(@order) do |f| %>

   <%= form_tag({:controller => :orders, :action => :create}, :html => {:multipart => true}) do %>

<!--   <%= date_select :order, :entrance_date %>-->

<table id="genericCarRelatedFamiliesTable" class="table table-striped">
    
    <thead>
          <tr>
            <th></th>
            <th> Modelo</th>
            <th> Nombre Pieza</th>
            <th> Código</th>
            <th> Proveedor</th>
            <th> Código de Proveedor</th>
            <th> Color</th>
            <th> Cantidad</th>
          </tr>
        </thead>
        
        <tbody id="orderStockFamiliesToAdd">

        </tbody>
        
   </table>

    <%= submit_tag "Recibir piezas", class: "btn btn-primary pull-right" %>
  
  <% end %>


<% end %>
   
