  <style type="text/css">

  .hide_color{

    visibility: hidden;

  }


  </style>

<h2>Busca el modelo</h2>
  <%= form_tag search_by_model_generic_cars_path,  class: "form-inline", remote: true do  %>
    <%= render :partial => "/shared/generic_car_search_form_fields" %>
  <% end %>

  <div id="genericCarsFound"></div>

  <h2 id="genericCarRelatedFamiliesTitle" >Familias relacionadas:</h2>
  <div id="genericCarRelatedFamilies"></div>



  <%= form_for(@order) do |f| %>

   <%= form_tag({:controller => :orders, :action => :create}, :html => {:multipart => true}) do %>

<table id="genericCarRelatedFamiliesTable" class="table table-striped">
    
    <thead>
          <tr>
            <th></th>
            <th> Modelo</th>
            <th> Nombre Pieza</th>
            <th> Código</th>
            <th> Proveedor</th>
            <th> Código de Proveedor</th>
            <th> Color</th>
            <th> Cantidad</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        
        <tbody id="orderStockFamiliesToAdd">

        </tbody>
        
   </table>

   <div id="recibir_p" style="display:none;">
    <%= submit_tag "Recibir piezas", class: "btn btn-primary pull-right" %>
    </div>
  <% end %>


<% end %>

<script type="text/javascript">

$(".selecciona_coche").click(function(){
    vacio();
});

$("#orderStockFamiliesToAdd select").on("change",function(){
});




  function vacio(){
    console.log("children:"+$("#orderStockFamiliesToAdd").children().length);
    if($("#orderStockFamiliesToAdd").children().length>0){
        $("div#recibir_p").fadeIn();
    }
    else{

        $("div#recibir_p").fadeOut();

    }

  }


</script>



