<h1>Listing orders</h1>

<table class="table">
  <thead>
    <tr>
<!--       <th>Fecha de Entrada <br>(Introducida por el usuario)</th>
 -->  
      <th>Fecha de Entrada</th>
      <th>Hora de Entrada</th>
      <th>Warehouse</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
<!--         <td><%= order.entrance_date.strftime("%d/%m/%y") %></td>
 -->        <td><%= order.created_at.strftime("%d/%m/%y") %></td>
        <td><%= order.created_at.strftime("%H:%M") %></td>
        <td><%= order.warehouse_id %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
