<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha de Entrada:</strong>
  <%= @order.entrance_date.strftime("%d/%m/%Y") %>
</p>

<!-- <p>
  <strong>Sucursal:</strong>
  <%= @order.warehouse_id %>
</p> -->
<%= form_tag labels_order_path(@order), :target => "_blank" do %>
<%= submit_tag "Imprimir Etiquetas", class:"btn btn-large btn-success"   %>
	<table class="table">
		<thead>
			<th>Nombre</th>
			<th>Código</th>
			<th>Cantidad</th>
			<th>Precio</th>
			<th>Supplier</th>
			<th>Imprimible</th>
		</thead>
		<tbody>
			<% @order.stock_families.each do |stock| %>
			<tr>
				<td>
					<%= stock.generic_family.name %>
				</td>
				<td><%= stock.code %></td>		
				<td>
					<%= stock.quantity %>
				</td>
				<td>
					<% unless stock.price.blank? %>
						<%= stock.price.entrance %>
					<% end %>
				</td>
				<td>
					<% unless stock.supplier.blank? %>
						<%= stock.supplier.name %>
					<% end %>
				</td>
				<td><%= check_box_tag "ids_to_print[]", stock.id, true %>
				<%= label_tag(:printable, "Imprimir etiqueta") %></td>
			</tr>
			<tr>
				<td></td>
				<td><strong>Nombre</strong></td>
				<td><strong>Código</strong></td>
			</tr>
			<% stock.stock_spares.each do |spare| %>
			<tr>
				<td></td>
				<td>
				<%= spare.generic_spare.name %>
				</td>
				<td><%= spare.code %></td>
				<td></td>
				<td></td>
				<td><%= check_box_tag "spares_to_print[]" , spare.id, true %>
				<%= label_tag(:printable, "Imprimir etiqueta") %></td>
			</tr>
			<% end %>
			<% end %>
		</tbody>
	</table>
<% end %>
<%= link_to 'Atras', orders_path %>
