<h1> Consumibles </h1>

<table class="table">
  <thead class="">
    <tr>
      <th>Nombre</th>
      <th>Cantidad Mínima</th>
      <th>Costo</th>
      <th>Descripción</th>
      <th>Weight</th>
      <th>Brand</th>
      <th>Quantity</th>
      <th>Size</th>
      <th>Supplier</th>
      <th>Code</th>
    </tr>
  </thead>

  <tbody class="">
    <% @supplies.each do |supply| %>
      <tr>
        <td><%= supply.name %></td>
        <td><%= supply.minimum_qty %></td>
        <td><%= supply.cost %></td>
        <td><%= supply.description %></td>
        <td><%= supply.weight %></td>
        <td><%= supply.brand %></td>
        <td><%= supply.quantity %></td>
        <td><%= supply.size %></td>
        <td><%= supply.supplier %></td>
        <td><%= supply.code %></td>
        <td><%= link_to 'Ver', supply ,class:"btn btn-info" %></td>
        <td><%= link_to 'Editar', edit_supply_path(supply),class:"btn btn-warning" %></td>
        <td><%= link_to 'Eliminar', supply, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Supply', new_supply_path %>
