<h1> Consumibles </h1>

<table class="table">
  <thead class="">
    <tr>
      <th>Nombre</th>
      <th>Cantidad Mínima</th>
      <th>Costo</th>
      <th>Descripción</th>
      <th>Peso</th>
      <th>Marca</th>
      <th>Cantidad</th>
      <th>Tamaño</th>
      <th>Proveedor</th>
      <th>Codigo</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @supplies.each do |supply| %>
      <tr>
        <td><%= supply.name %></td>
        <td><%= supply.minimum_qty %></td>
        <td><%= supply.cost %></td>
        <td><%= supply.description %></td>
        <td><%= supply.weight %></td>
        <td><%= supply.brand %></td>
        <td><%= supply.quantity %></td>
        <td><%= supply.size %></td>
        <td>
          <% unless supply.supplier.blank? %>
            <%= supply.supplier.name %>
          <% end %>
        </td>
        <td><%= supply.code %></td>
        <td><%= link_to 'Editar', edit_supply_path(supply),class:"btn btn-warning" %></td>
        <td><%= link_to 'Eliminar', supply, method: :delete, data: { confirm: '¿Estas Seguro?' },class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Consumible', new_supply_path, class:"btn btn-success" %>
