<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @supply.name %>
</p>

<p>
  <strong>Minimum qty:</strong>
  <%= @supply.minimum_qty %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @supply.cost %>
</p>

<p>
  <strong>Description:</strong>
  <%= @supply.description %>
</p>

<%= link_to 'Edit', edit_supply_path(@supply),class:"btn btn-info" %> |
<%= link_to 'Back', supplies_path,class:"btn btn-default" %>
