<h1>Nuevo Codigo de Proveedor</h1>

<h2>Información del Proveedor</h2>
<table class="table" >
  <thead>
    <th>Nombre</th>
    <th>Familia Generica</th>
    <th>Modelos Asociados a la Familia</th>
    <th>Generación</th>
  </thead>
  <tbody>
    <tr>
      <td><%= @supplier.name %></td>
      <td><%= @generic_family.name %></td>
      <td>  
        <% unless @generic_family.generic_cars.blank?  %>
          <% @generic_family.generic_cars.each do |generic_car| %>
            <%= generic_car.model_acronym.model  %>
          <% end %>
        <% end %>
      </td>
      <td>
        <% unless  @generic_family.generic_cars.blank? %>
          <%= @generic_family.generic_cars.first.first_generation_year %> -
            <% if !@generic_family.generic_cars.first.gen_continues %>
              <%= @generic_family.generic_cars.first.last_generation_year %>
            <% else %>
            Año Actual
          <% end %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
<%= render 'form' %>
