<%= form_for @generic_family do |f| %>

<% if @generic_family.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @generic_family.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

	<%= f.submit 'Guardar Cambios',class:"btn btn-primary" %>
	<%= f.hidden_field :generic_car_id, value: @generic_car.id%><br>

	<div class="row">
		<div class="col-md-4">
			<div class="form-group">
				<%= f.label :name %>
				<%= f.text_field :name , class:'form-control'%><br>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<%= f.label :years, "Años" , class:"añitos"%>
				<%= f.text_field :years , class:'form-control'%>
				<%= label_tag "continua", "Generación continúa"%>
				<%= check_box_tag "continua" %><br>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<%= f.label :code %>
				<%= f.text_field :code , class:'form-control'%>
			</div>
		</div>
	</div>
	<div class="row">
		<div id="generic_spares">
			<h2>Piezas</h2>
			<div id="fields">
				<%= f.fields_for :spare_likelihoods do | likelihood | %>
		      		<%= render 'spare_likelihood_fields', :f => likelihood %>
				<% end %>
			</div>
			<div class="links">

<%= link_to_add_association 'Añadir Pieza', f, :spare_likelihoods,
    'data-association-insertion-node' => "#fields",
    'data-association-insertion-method' => "append",
    :wrap_object => Proc.new {|likelihood| likelihood.build_generic_spare; likelihood }, class: "btn btn-info" %>			</div>
		</div>
	</div>
<% end %>

<script type="text/javascript">
		$(function() {
			vals = $("#generic_family_years").val();
			$('#continua').click(function () {
				if($("#continua").is(':checked')){
					$("#generic_family_years").mask("0999");
					$(".añitos").html("Año inicial (-Año Vigente)");
				}
				else{
					$("#generic_family_years").mask("0999-0999");
					$(".añitos").html("Años");
				}
			});
			$("#generic_family_years").val(vals);
		});
</script>
