<h1>Familias genéricas</h1>


<% form_tag assign_families_path do %>

	<ul>
		<% for type in @car_types %>
	 		<li>
	 			<%= hidden_field_tag "car_type_ids[]", type.id %>
	 			<%=h type.name %>
	 		</li>
		<% end  %>
	</ul>

	<table id="assignation_table" class="table big_table">
	    <thead>
	        <tr>
	            <th>Nombre Familia</th>
	            <% @car_types.each do | type | %>
	            	<th> <%= type.name %> <%= type.doors %></th>
	            <% end %>
	        </tr>
	    </thead>
	    <tbody> 

	    <!-- each family -->
	    <% @generic_families.each do | family | %>
	     	<tr>
	           <td><%= family.name %></td>

	           <td><%= check_box_tag(family.id) %></td>
	       
	        </tr>
	    <% end %>


	       

    	</tbody>
	</table>    



<% end %>

