<%= form_for @generic_family, :url => create_variant_stock_family_path do |f| %>
	<h1>Crear Variante</h1>
	<%= f.submit "Guardar Variante",class:"btn btn-primary" %>

	<%= hidden_field_tag :generic_car_id, @generic_car.id %>
	<div class="row">
		<div class="col-md-4">
			<div class="form-group">
				<%= f.label :name %>
				<%= f.text_field :name , class:'form-control'%><br>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<%= f.label :years, "Años" , class:"añitos"%>
				<%= f.text_field :years , class:'form-control'%>
				<%= label_tag "continua", "Generación continúa"%>
				<%= check_box_tag "continua" %><br>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<%= f.label :code %>
				<%= f.text_field :code , class:'form-control'%>
			</div>
		</div>
	</div>
	<div class="row">
		<h2>Piezas</h2>
		<div class="col-md-12">
			<%= link_to "Agregar Pieza", "#", id: "creator3"%>
		</div>
		<div id="family_members">
			<%= f.fields_for :spare_likelihoods do | likelihood | %>
				<%= likelihood.fields_for :generic_spare do | spare | %>
					<div class="form-group">
						<div class="col-md-6">
							<%= spare.label :name %>
							<%= spare.text_field :name, class:'form-control' %>
						</div>
						<div class="col-md-6">
							<%= spare.label :code %>
							<%= spare.text_field :code, class:'form-control' %>
						</div>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
<% end %>

<script type="text/javascript">
		contador = 500
		$("#creator3").click(function() {
			$("#family_members").append('<div class="form-group"><div class="col-md-6"><label>Nombre</label><input class="form-control input-capitalize" id="generic_family_spare_likelihoods_attributes_'+contador+'_generic_spare_attributes_name" name="generic_family[spare_likelihoods_attributes]['+contador+'][generic_spare_attributes][name]" type="text"></div><div class="col-md-6"><label>Código</label><input class="form-control" id="generic_family_spare_likelihoods_attributes_'+contador+'_generic_spare_attributes_code" name="generic_family[spare_likelihoods_attributes]['+contador+'][generic_spare_attributes][code]" type="text"></div></div>');
			contador+=1
		});

		$(function() {
			vals = $("#generic_family_years").val();
			$('#continua').click(function () {
				if($("#continua").is(':checked')){
					$("#generic_family_years").mask("0999");
					$(".añitos").html("Año inicial - Año Actual");
				}
				else{
					$("#generic_family_years").mask("0999-0999");
					$(".añitos").html("Años");
				}
			});
			$("#generic_family_years").val(vals);
		});

</script>
