
<h1><%= @stock_spare.generic_spare.name %></h1>
	
<%= form_for(@stock_spare) do |f| %>
  <% if @stock_spare.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stock_spare.errors.count, "error") %> prohibited this brand from being saved:</h2>

      <ul>
      <% @stock_spare.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Subir imagen" %><br>
    <%= f.file_field :photo %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
