

<div class="row">
<h1>Pieza Hija</h1>
	<div class="col-md-6">
    <table class="table table-condensed">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Codigo</th>
				<th>Pieza Padre</th>
				<th>Modelos</th>
				<th>Proveedor</th>
				<th>Estatus</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><%= @stock_spare.generic_spare.name %></td>
				<td><%= @stock_spare.code %></td>
				<td><%= link_to "#{@stock_spare.stock_family.generic_family.name}", stock_family_path(@stock_spare.stock_family) %></td>

				<td>
					<% @stock_spare.stock_family.generic_family.generic_cars.each do |generic_car| %>
				    	<%= generic_car.model_acronym.model %><br>
					<% end %>
				</td>
				<td><%= @stock_spare.stock_family.supplier.name %></td>
				<td>
            		<%= @stock_spare.status %>
            		<% if @stock_spare.status == "Instalada" %>
              			<%= link_to "Ver Coche", stock_car_path(@stock_spare.stock_car) %>
            		<% end %>
          		</td>
			</tr>
		</tbody>
	</table>
	</div>
	<div class="col-md-4">
		<table class="table table-condensed">
		  <thead>
		    <tr>
		      <th>Precio Entrada</th>
		      <th>Precio Salida</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
					<td><%= @stock_spare.entrance_price %></td>
					<td><%= @stock_spare.departure_price %></td>
		    </tr>
		  </tbody>
		</table>
	</div>
</div>
<div class="row">

	<div class="col-md-4">
	    <table class="table table-condensed">
	      <thead>
	        <tr>
	          <th>Almacen</th>
	          <th>Rack</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr>
	          <% unless @stock_spare.stock_family.shelf.blank?  %>
	            <td><%= @stock_spare.stock_family.shelf.code %> </td>
	            <td><%= link_to "Ver", shelf_path(@stock_spare.stock_family.shelf) %></td>
	          <%else %>
	            <td>No se ha ingresado a ningun almacen</td>
	            <td></td>
	          <% end %>
	        </tr>
	      </tbody>
	    </table>
	</div>
	<div class="col-md-4">
	    <table class="table table-condensed">
	      <thead>
	        <tr>
	          <th>Orden de Entrada</th>
	          <th></th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr>
	          <td><%= @stock_spare.stock_family.order.created_at.strftime("%d/%m/%Y - %H:%M") %></td>
	          <td><%= link_to "Ver Orden", order_path(@stock_spare.stock_family.order) %></td>
	        </tr>
	      </tbody>
	    </table>
	</div>
  <div class="col-md-4">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Ultima Actualización</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
        	<% unless @stock_spare.spare_histories.blank? %>
          		<td><%= @stock_spare.spare_histories.last.description %></td>
          		<td><%= link_to "Ver Historial", history_stock_spare_path(@stock_spare) %></td>
          	<% else %>
          		<td>No existe historial</td>
          		<td></td>
          	<% end %>

        </tr>
      </tbody>
    </table>
  </div>

</div>
