
<div>
<h3>Coche del Asegurado</h3>
<div class="form-group">
  <%= builder.label :carColor, "Color del Coche" %>
  <%= builder.text_field :carColor %>
</div>

<div class="form-group">
  <%= builder.label :carDoorNumber, "Numero de Puertas" %>
  <%= builder.number_field :carDoorNumber %>
</div>

<div class="form-group">
  <%= builder.label :carLicensePlates, "Placas" %>
  <%= builder.number_field :carSerie %>
</div>
<div class="form-group">
  <%= builder.label :carInventoryDescription, "Descripción de Inventario" %>
  <%= builder.number_field :carInventoryDescription %>
</div>
<div class="form-group">
  <%= builder.label :carTaxiNumber, "Numero de Taxi" %>
  <%= builder.number_field :carTaxiNumber %>
</div>

<div class="form-group">
  <%= builder.label :carSpecialEquipment, "Equipo Especial" %>
  <%= builder.number_field :carSpecialEquipment %>
</div>
</div>
