<%= form_for(@preValuation) do |f| %>
<p>
  <%= f.label :preValuationNumber %>
  <%= f.text_field :preValuationNumber %>
</p>
<p>
  <%= f.label :preValuationPolicyNumber %>
  <%= f.text_field :preValuationPolicyNumber %>
</p>
<p>
  <%= f.label :preValuationSubsection %>
  <%= f.text_field :preValuationSubsection %>
</p>
<p>
  <%= f.label :preValuationExpeditionDate %>
  <%= f.text_field :preValuationExpeditionDate %>
</p>
<p>
  <%= f.label :preValuationDate %>
  <%= f.text_field :preValuationDate %>
</p>
<p>
  <%= f.label :preValuationExpeditionDate %>
  <%= f.text_field :preValuationExpeditionDate %>
</p>
<p>
  <%= f.label :preValuationDeductibleValue %>
  <%= f.text_field :preValuationDeductibleValue %>
</p>
<p>
  <%= f.label :preValuationCommercialValue %>
  <%= f.text_field :preValuationCommercialValue %>
</p>
<p>
  <%= f.label :preValuationRequiresCrane %>
  <%= f.text_field :preValuationRequiresCrane %>
</p>
<p>
  <%= f.label :preValuationCollectionStatus %>
  <%= f.text_field :preValuationCollectionStatus %>
</p>
<p>
  <%= f.label :preValuationRequiresCrane %>
  <%= f.text_field :preValuationRequiresCrane %>
</p>
<p>
  <%= f.label :preValuationSpecialConditions %>
  <%= f.text_field :preValuationSpecialConditions %>
</p>
<p>
  <%= f.label :preValuationThirdInsured %>
  <%= f.text_field :preValuationThirdInsured %>
</p>
<p>
  <%= f.label :preValuationAgentName %>
  <%= f.text_field :preValuationAgentName %>
</p>
<p>
  <%= f.label :preValuationComment %>
  <%= f.text_area :preValuationComment %>
</p>
  <%= f.submit %>
<% end %>
