<%= form_for(@model_acronym) do |f| %>
  <% if @model_acronym.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@model_acronym.errors.count, "error") %> prohibited this model_acronym from being saved:</h2>

      <ul>
      <% @model_acronym.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Marca" %><br>
    <%= f.select :brand_id, Brand.all.collect{|p| [ p.name, p.id ] }, {include_blank: '---'} %>
  </div>
  <div class="field">
    <%= f.label "Iniciales" %><br>
    <%= f.text_field :initials %>
  </div>

  <div class="field">
    <%= f.label "Modelo" %><br>
    <%= f.text_field :model %>
  </div>
  <div class="actions">
    <%= f.submit "Crear Iniciales" %>
  </div>
<% end %>
