<h1>Listando Todos los Modelos</h1>
<%= link_to 'Nuevo Modelo', new_model_acronym_path, class: "btn btn-primary" %>
<table id="models">
  <thead>
    <tr>
      <th>Marca</th>
      <th>Iniciales</th>
      <th>Modelo</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @model_acronyms.each do |model_acronym| %>
      <tr>
        <td><%= model_acronym.brand.name %></td>
        <td><%= model_acronym.initials %></td>
        <td>
            <%= model_acronym.model %>

        </td>
        <td><%= link_to 'Editar Modelo', edit_model_acronym_path(model_acronym),class: "btn btn-info" %></td>
        <td><%= link_to 'Borrar', model_acronym, method: :delete, data: { confirm: '¿Estas Seguro?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<script type="text/javascript">
  $('#models').DataTable({});
</script>