<%= form_for(@supplier) do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">

    <%= f.label :supplier_type_id %><br>
    <%= f.select :supplier_type_id, SupplierType.all.collect { |p| [ p.name, p.id ] }, {include_blank: '---'} %>

  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
