<table class="table">
  <thead>
    <th>Nombre de Proveedor</th>
    <th>Tipo de Proveedor</th>
  </thead>
  <tbody>
    <tr>
      <td><%= @supplier.name %></td>
      <td><%= @supplier.supplier_type.name %></td>
    </tr>
  </tbody>
</table>

<!-- Renderear busqueda general -->
<h2>Busca el modelo</h2>
  <%= form_tag search_by_model_in_supplier_path(supplier: @supplier), method: "get", class: "form-inline", remote: true do  %>
    <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %> 
    <%= text_field_tag :model , nil, class: "form-control"  %>
    <%= submit_tag 'Buscar', class: "btn btn-primary" %>
  <% end %>
<!-- En este div se agregan los coches encontrados por modelo -->
<div id="genericCarsFound"></div>
