<%= form_for(@warehouse) do |f| %>
  <%= render 'shared/error_messages', model: @warehouse %>
  <div class="field">
    <%= f.label :branch, "Nombre" %><br>
    <%= f.text_field :branch %>
  </div>

  <div class="field">
    <%= f.label :location, "Ubicación" %><br>
    <%= f.text_field :location %>
  </div>

  <div class="field">
    <%= f.label :code, "Código" %><br>
    <%= f.text_field :code %>
  </div>

  <div class="field">
    <%= f.label :geolocation, "Geolocalización" %><br>
    <%= f.text_field :geolocation %>
  </div>

  <div class="actions">
    <%= f.submit "Guardar Almacén", class:"btn btn-primary" %>
  </div>
<% end %>
