<%= form_for(@warehouse) do |f| %>
  <% if @warehouse.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@warehouse.errors.count, "error") %> prohibited this warehouse from being saved:</h2>

      <ul>
      <% @warehouse.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :branch, "Nombre" %><br>
    <%= f.text_field :branch %>
  </div>

  <div class="field">
    <%= f.label :location, "Ubicación" %><br>
    <%= f.text_field :location %>
  </div>

  <div class="field">
    <%= f.label :code, "Código" %><br>
    <%= f.text_field :code %>
  </div>

  <div class="field">
    <%= f.label :geolocation, "Geolocalización" %><br>
    <%= f.text_field :geolocation %>
  </div>

  <div class="actions">
    <br>
    
    <%= f.submit "Guardar Almacén", class:"btn btn-info" %>
  </div>
  <br>
<% end %>
