<h1>Listing warehouses</h1>

<table class="table">
  <thead>
    <tr>
      <th>Sucursal</th>
      <th>Locación</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @warehouses.each do |warehouse| %>
      <tr>
        <td><%= warehouse.branch %></td>
        <td><%= warehouse.location %></td>
        <td><%= link_to 'Mostrar', warehouse ,class:"btn btn-info" %></td>
        <td><%= link_to 'Editar', edit_warehouse_path(warehouse),class:"btn btn-warning" %></td>
        <td><%= link_to 'Eliminar', warehouse, method: :delete, data: { confirm: '¿Estas seguro?' },class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Warehouse', new_warehouse_path %>
