
<p>Sucursal: <%= @warehouse.branch%></p>

<p>Lugar: <%= @warehouse.location%></p>

<%= @warehouse.sections.each do |section| %>
	
<% end %>

<h2> Secciones </h2>
<%= link_to 'Nueva Sección' %>



<%= link_to 'Edit', edit_warehouse_path(@warehouse) %> |
<%= link_to 'Back', warehouses_path %>
