
<h1>Sucursal: <strong><%= @warehouse.branch %></strong></h1>
<td><%= link_to "Editar #{@warehouse.branch}", edit_warehouse_path(@warehouse),class:"btn btn-primary" %></td>
<td><%= link_to "Eliminar #{@warehouse.branch}", @warehouse, method: :delete, data: { confirm: '¿Estas seguro?' },class:"btn btn-danger" %></td>

<%= link_to 'Regresar a Almacenes', warehouses_path,class:"btn btn-default" %>

<table class="table">
	<thead>
		<th>Sucursal</th>
		<th>Locación</th>
		<th>Codigo</th>
		<th>Geolocalización</th>
		<th># de Racks</th>
		<th></th>
	</thead>
	<tbody>
		<td><%= @warehouse.branch%></td>
		<td><%= @warehouse.location%></td>
		<td><%= @warehouse.code %></td>
		<td><%= @warehouse.geolocation %></td>
		<td><%= link_to "Ver #{@warehouse.shelves.count} Racks", warehouse_shelves_path(@warehouse),class:"btn btn-info" %></td>
	</tbody>
</table>