
<p>Sucursal: <%= @warehouse.branch%></p>

<p>Lugar: <%= @warehouse.location%></p>

<% @warehouse.sections.each do |section| %>
	
<% end %>

<h2> Secciones </h2>

<table class="table">
	<thead>
		<th>Codigo</th>
		<th>Descripción</th>
		<th>Sub-secciones</th>
		<th></th>
	</thead>
	<tbody>
	<% @warehouse.sections.each do |section| %>
		<tr>
			<td><%= section.code %></td>
			<td><%= section.name %></td>
			<td><%= section.subsections.count %></td>
			<td><%= link_to "Mostrar", section_path(section) %></td>
		</tr>
	<% end -%>
	</tbody>
</table>
<%= link_to 'Nueva Sección', new_warehouse_section_path(@warehouse) %>



<%= link_to 'Edit', edit_warehouse_path(@warehouse) %> |
<%= link_to 'Back', warehouses_path %>
