
<h1 class="center-text"><medium>Sucursal:</medium> <%= @warehouse.branch%></h1>

<h1><medium>Lugar: </medium> <%= @warehouse.location%></h1>

<% @warehouse.sections.each do |section| %>
	
<% end %>

<h2> Secciones </h2>

<table class="table">
	<thead>
		<th>Codigo</th>
		<th>Descripción</th>
		<th>Sub-secciones</th>
		<th></th>
	</thead>
	<tbody>
	<% @warehouse.sections.each do |section| %>
		<tr>
			<td><%= section.code %></td>
			<td><%= section.name %></td>
			<td><%= section.subsections.count %></td>
			<td><%= link_to "Mostrar", section_path(section), class:"btn btn-info" %></td>
		</tr>
	<% end -%>
	</tbody>
</table>
<%= link_to 'Nueva Sección', new_warehouse_section_path(@warehouse),class:"btn btn-warning" %>



<%= link_to 'Editar', edit_warehouse_path(@warehouse),class:"btn btn-primary" %> |
<%= link_to 'Back', warehouses_path,class:"btn btn-default" %>
