<header class="navbar navbar-inverse navbar-fixed-top sitetab" role="navigation">

    <div class="container">
      <!-- <%= link_to image_tag("logo.png"), root_path, id: "logo" %> -->
      <%= link_to image_tag("logo.png"), root_path, class:"navbar-brand", style:"max-width:100px; margin-top: -7px;" %>
    </div>
    <div class="navbar-header pull-right btn-lg">
      <% if signed_in? %>
        <li><%= link_to "Signed In", '#', class: "navbar-brand navtabcont rightlink" %></li>
        <li id="fat-menu" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Account <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Profile", current_user %></li>
            <li class="divider"></li>
            <li>
              <%= link_to "Sign out", signout_path, method: "delete", class: "navbar-brand navtabcont rightlink" %>
            </li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to "Sign in", signin_path , class: "navbar-brand navtabcont rightlink"%></li>
      <% end %>
    </div>
</header>
