<header class="navbar navbar-fixed-top navbar-inverse grey">
    <div class="container-fluid">
      <!-- <%= link_to image_tag("logo.png"), root_path, id: "logo" %> -->
      <%= link_to "SYRAT", root_path, id: "logo", class:"brand" %>
      <nav>
        <ul class="nav pull-right">
          <!-- <button class="btn btn-default btn-lg" data-toggle="modal" data-target="#login">
              INGRESAR
          </button> -->
          <li><%= link_to "Home", root_path %></li>
          <% if signed_in? %>
            <li><%= link_to "Signed In", '#' %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>

        </ul>
      </nav>
    </div>
</header>
